:root {
    /* Background colors */
    --bg-success: hsla(174, 100%, 29%, 100%);
    --bg-primary: hsla(231, 49%, 47%, 100%);
    --bg-error: hsla(5, 69%, 54%, 100%);
    --bg-primary-light: hsla(231, 49%, 85%, 100%);
    --bg-dark: hsla(0, 0%, 0%, 82%);
    --bg-light: hsla(255, 100%, 100%, 100%);

    /* Typographic colors */
    --text-primary: hsla(0, 0%, 0%, 82%);
    --text-secondary: hsla(0, 0%, 0%, 54%);

    /* Interactivity colors */
    --table-row-hover: hsla(0, 0%, 90%, 100%);
    --table-row-border: hsla(0, 0%, 75%, 100%);
}
