:root {
    /* Background colors */
    --bg-success: hsla(174, 100%, 29%, 100%);
    --bg-primary: hsla(231, 49%, 47%, 100%);
    --bg-error: hsla(5, 69%, 54%, 100%);
    --bg-primary-light: hsla(231, 49%, 85%, 100%);
    --bg-dark: hsla(30, 3%, 12%, 100%);
    --bg-light: hsla(255, 100%, 100%, 100%);
    --bg-disabled: hsla(30, 4%, 78%, 100%);

    /* Border colors */
    --border: hsla(30, 2%, 53%, 100%);
    --border-active: hsla(30, 2%, 19%, 100%);
    --border-passive: hsla(30, 2%, 37%, 100%);

    /* Typographic colors */
    --text-primary: hsla(30, 3%, 12%, 100%);
    --text-secondary: hsla(30, 3%, 24%, 100%);

    /* Interactivity colors */
    --hover: hsla(0, 0%, 90%, 100%);
    --button-emphasis: hsla(0, 2%, 91%, 100%);
}
