.column {
}

@media (min-width: 769px) {
    .span-1 {
        grid-column-end: span 1;
    }
    .span-2 {
        grid-column-end: span 2;
    }
    .span-3 {
        grid-column-end: span 3;
    }
    .span-4 {
        grid-column-end: span 4;
    }
    .span-5 {
        grid-column-end: span 5;
    }
    .span-6 {
        grid-column-end: span 6;
    }
    .span-7 {
        grid-column-end: span 7;
    }
    .span-8 {
        grid-column-end: span 8;
    }
    .span-9 {
        grid-column-end: span 9;
    }
    .span-10 {
        grid-column-end: span 10;
    }
    .span-11 {
        grid-column-end: span 11;
    }
    .span-12 {
        grid-column-end: span 12;
    }
    .start-1 {
        grid-column-start: 1;
    }
    .start-2 {
        grid-column-start: 2;
    }
    .start-3 {
        grid-column-start: 3;
    }
    .start-4 {
        grid-column-start: 4;
    }
    .start-5 {
        grid-column-start: 5;
    }
    .start-6 {
        grid-column-start: 6;
    }
    .start-7 {
        grid-column-start: 7;
    }
    .start-8 {
        grid-column-start: 8;
    }
    .start-9 {
        grid-column-start: 9;
    }
    .start-10 {
        grid-column-start: 10;
    }
    .start-11 {
        grid-column-start: 11;
    }
    .start-12 {
        grid-column-start: 12;
    }

    .end-1 {
        grid-column-end: span 1;
    }
    .end-2 {
        grid-column-end: span 2;
    }
    .end-3 {
        grid-column-end: span 3;
    }
    .end-4 {
        grid-column-end: span 4;
    }
    .end-5 {
        grid-column-end: span 5;
    }
    .end-6 {
        grid-column-end: span 6;
    }
    .end-7 {
        grid-column-end: span 7;
    }
    .end-8 {
        grid-column-end: span 8;
    }
    .end-9 {
        grid-column-end: span 9;
    }
    .end-10 {
        grid-column-end: span 10;
    }
    .end-11 {
        grid-column-end: span 11;
    }
    .end-12 {
        grid-column-end: span 12;
    }
    .end-13 {
        grid-column-end: span 13;
    }
}
