.tableHeadCell {
    text-align: start;
}

.tableHeadCell > h1,
.tableHeadCell > h2,
.tableHeadCell > h3,
.tableHeadCell > h4,
.tableHeadCell > h5,
.tableHeadCell > h6,
.tableHeadCell > p,
.tableHeadCell > span,
.tableHeadCell > address {
    text-overflow: ellipsis;
    overflow: hidden;
}
