@import "../shared/colors.css";

.input {
    grid-area: "input";
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 0.1rem solid var(--bg-primary);
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0.5rem;
}

.success {
    border-bottom-color: var(--bg-success);
}

.error {
    border-bottom-color: var(--bg-error);
}

.label {
    margin-right: 1rem;
}

.wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 100%;
    min-width: 4rem;
    max-height: 3rem;
}
