@import "../shared/colors.css";

@keyframes fadeInKnob {
    from {
        opacity: 0%;
    }
}
@keyframes fadeInKnobActive {
    from {
        opacity: 0%;
    }
}

.switch {
    appearance: none;
}

.svg {
    cursor: pointer;
    grid-area: switch;
}

.label {
    grid-area: label;
    font-style: normal;
    font-weight: 600;
    color: var(--text-primary);
}

.wrapper {
    display: grid;
    min-width: 3rem;
    grid-template-areas: "switch label";
    grid-template-columns: repeat(2, min-content);
    justify-content: start;
    align-content: center;
    column-gap: 0.5rem;
}

.rect {
    stroke: var(--border-passive);
}

.rectFocused,
.wrapper:hover > svg > .rect {
    stroke: var(--border-active);
}

.rectActive {
    fill: hsla(206, 100%, 42%, 100%);
    stroke: none;
}

.rectActiveFocused,
svg:hover > .rectActive {
    fill: hsla(208, 84%, 40%, 100%);
}

.toggleKnob {
    fill: var(--border-passive);
    animation: fadeInKnob 300ms ease-in normal;
}

.toggleKnobFocused,
svg:hover > .toggleKnob {
    fill: var(--border-active);
}

.toggleKnobActive {
    fill: var(--bg-light);
    animation: fadeInKnobActive 300ms forwards normal;
}
.toggleKnobActiveFocused,
svg:hover > .toggleKnobActive {
    fill: var(--bg-light);
}
