.tableHead {
    width: 100%;
    min-width: 100%;
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "caption"
        "row";
    align-items: center;
}

.caption {
}
