@import "../shared/typography.css";
@import "../shared/colors.css";

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--text-secondary);
}

h1.text,
h2.text,
h3.text,
h4.text,
h5.text,
h6.text {
    color: var(--text-primary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1.text {
    font-size: 2.5rem;
}
h2.text {
    font-size: 2.25rem;
}
h3.text {
    font-size: 1.75rem;
}
h4.text {
    font-size: 1.5rem;
}
h5.text {
    font-size: 1.25rem;
}
h6.text {
    font-size: 1.1rem;
}

strong.text {
    font-weight: 600;
}

address.text {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Reset browser defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: unset;
}
