@import "../shared/colors.css";
.tableRow {
    box-shadow: none;
    border-bottom: 1px solid var(--hover);
}

thead > tr.tableRow {
    border-bottom: 2px solid var(--border);
}

.tableRow:hover {
    background-color: var(--hover);
}
